/* extraer tipografia estilo de letra montserrat descargado de fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* explicación de vh y vw = Vh hace referencia a la centésima parte de la altura del viewport y vw a la centésima parte del ancho del viewport. Estas medidas tienen múltiples usos, por ejemplo cuando queremos tener una imagen de fondo que ocupe todo el ancho y alto de nuestro pantalla. También cuando queremos que nuestro texto varíe de acuerdo a las medidas del dispositivo  */
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

.menu{
/* colocamos todo lo que estaba dentro del menu uno al lado del otro */
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu a{
  color:rgb(213, 216, 21);
  /* text-decoration:none quita la linea de subrayado que viene por defecto al crear un href*/
  text-decoration: none;
  /* padding hace que al pasar el mouse el color se vea más separado de las letras */
  padding: 10px;
}

/* con list-style: se puede cambiar o quitar los iconos de la lista; es decir; cambiar por uno redondo, etc o quitar con none */
.menu li{
  list-style:none;
}

/* con la propiedad hover, al pasar el mouse por el elemento, este cambia de color */
.menu a:hover{
  background-color: white;
  color: black;
  /* al colocar transition se habilitan otras propiedades como (webkit,moz,ms,o) que ayudan a evitar inconvenientes en otras páginas web. y su función es que al pasar el mouse le dé otro aspecto*/
  transition: ease-in .3s;
  -webkit-transition: ease-in .3s;
  -moz-transition: ease-in .3s;
  -ms-transition: ease-in .3s;
  -o-transition: ease-in .3s;
}
/* en conjunto con hover, hace que darle click el elemento cambie de color, pero no lo voy a activar
.menu a:active{
  background-color: rgb(12, 12, 12);
}*/

/* el span que habiamos creado en el archivo html lo modificamos aqui, para darle un color distinto a la letra T */
.brand span{
  color: rgb(241, 245, 8);
}

/* para que el marquen de lo que denominamos como brand esté el mismo nivel del menú */
.brand{
  margin-top: -7px;
}
/* La propiedad CSS display flex coloca los elementos uno al lado de otro, parecido a display:block  */
.navbar{
  display:flex;
  /* justify-content: coloca los elementos separados a la esquina del otro */
  justify-content:space-between;
  padding: 2em;
}

.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.download-cv{
  padding: 10px 20px;
  background-color: rgb(180, 226, 13);
  border:none;
  /* al colocar border radius se habilitan webkit,moz,ms,o */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* para separar el boton del texto usamos: */
  margin-top: 15px;
  /* para que aparezca una mano al pasar por el boton */
  cursor:pointer;
}
/* al pasar el mouse por el botom cambie de color se usa hover */
.download-cv:hover{
  background-color: black;
  color:yellow;
}

/* darle estilo a la imagen 
.main img{
  width: 350px; 
   border: 7px solid yellow; 
}*/